@{
    ViewData["Title"] = "Instructions";
}

<div class="text-center">
    <h1 class="display-4">Instructions</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>This is a construction task management system.</p>

    <p>Add tasks to this system.</p>

    <a asp-controller="Tasks" asp-action="AddExampleTasks">Add example tasks</a>

    <p>This view needs to explain the idea for this exercise.</p>
</div>
